service vendor.Interface1-Service /vendor/bin/Interface1-Service
    class   main
    user    vendor_nkhlab
    group   vendor_nkhlab
    disabled
    setenv VSOMEIP_APPLICATION_NAME Interface1-Service
    setenv VSOMEIP_CONFIGURATION    /vendor/etc/genivi-capi-someip-examples/vsomeip.json
    setenv VSOMEIP_BASE_PATH        /data/vendor/vsomeip/

on property:sys.boot_completed=1
    mkdir /data/vendor/vsomeip 0771 vendor_nkhlab vendor_nkhlab
    start vendor.Interface1-Service
